/* -- Home page -- */

body.active{
    
    .background{
        background: linear-gradient(270deg, #40aff3, #3bbef1, #67ba77, #45acb2, #671ee4);
        background-size: 1000% 1000%;

        -webkit-animation: AnimationName 52s ease infinite;
        -moz-animation: AnimationName 52s ease infinite;
        animation: AnimationName 52s ease infinite;

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
    }
}

.background{
    height:100vh;
    width:100vw;
    border:25px solid white;
    background-color: #1e77e4;

    .shader{
        height:100vh;
        width:100vw;
        max-height:100%;
        max-width:100%;
        background-image:url('../img/shader.png');
        background-repeat: no-repeat;
        background-position: right bottom;

        #header{
            color:#fff;
            width:100%;
            position:relative;
            padding:20px;

            .logo{
                width:80px;
                height:40px;
                float:left;
            }

            .info{
                font-size: 14px;
                line-height: 13px;
                text-align:right;
                float:right;
                border-bottom:1px solid white;
            }
        }

        #main{

            #start{
                text-align: center;

                width:300px;
                height:200px;

                position:absolute;
                left:50%;
                top:50%;
                margin:-100px 0 0 -150px;

                -webkit-text-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                -moz-text-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                text-shadow: 24px 24px 30px rgba(0,0,0,0.35);

                h1{
                    width:150px;
                    line-height:45px;
                    margin:0 auto;
                    color:#fff;
                    font-size:36px;
                    border-bottom:3px solid white;
                    letter-spacing: 10px;
                    margin-top: 68px;
                }

            }

            #what{
                display:none;

                position:absolute;
                top:50%;
                left:50%;
                text-align:center;
                color:#fff;

                height:300px;
                width:240px;
                margin:-150px 0 0 -120px;

                h1{
                    font-size: 29px;
                    line-height: 0.9;
                }

                p{
                    font-size: 14px;
                    line-height: 1.2;
                    margin-top: 15px;
                    font-weight: 500;

                    &.small{
                        font-size: 12px;
                        margin-top: 10px;
                        line-height: 1;
                    }

                    &.close{
                        font-size: 18px;
                        line-height: 1;
                        margin-top: 30px;

                        span{
                            border-bottom: 1px solid white;
                            line-height: 17px;
                        }
                    }
                }

                @media (min-width: 665px) {
                    height:80px;
                    width:560px;
                    height:300px;

                    margin:-150px 0 0 -280px;

                    h1{
                        font-size: 68px;
                        line-height: 0.9;
                    }

                    p{
                        font-size: 21px;
                        line-height: 1.2;
                        margin-top: 15px;
                        font-weight: 500;

                        &.small{
                            font-size: 16px;
                            margin-top: 10px;
                            line-height: 1;
                        }

                        &.close{
                            font-size: 18px;
                            line-height: 1;
                            margin-top: 30px;

                            span{
                                border-bottom: 1px solid white;
                                line-height: 17px;
                            }
                        }
                    }
                }

            }

            #eye_area{
                display:none;

                text-align:center;
                width:300px;
                height:90px;

                position:absolute;
                left:50%;
                top:50%;
                margin:-45px 0 0 -150px; 

                #Page-1{
                -webkit-box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                }

                #open{
                    opacity:0;
                }
            }
        }

        #footer{

            bottom:25px;
            padding:20px;
            position:absolute;
            width:calc(100% - 25px);            
            height:120px;
            
            @media (min-width: 665px) {
                height:80px;
            }

            .controls{
                position:absolute;
                height: 50px;
                width:95px;
                padding: 17px;
                top:0;
                background-color:#fff;
                -webkit-box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);
                box-shadow: 24px 24px 30px 0px rgba(0,0,0,0.15);


                .sound{
                    width:15px;
                    height:15px;
                    background-image:url('../img/volume-full.png');
                    background-position:center;
                    background-repeat:no-repeat;
                    background-size:cover;
                    float:left;
                    margin-left:5px;
                }

                .player{
                    width:15px;
                    height:15px;
                    background-image:url('../img/stop.png');
                    background-position:center;
                    background-repeat:no-repeat;
                    background-size:cover;
                    float:left;
                    margin-left:20px;
                }
            }

            .credits{
                color:#fff;
                font-size:14px;
                bottom:20px;
                position:absolute;
                margin-left: auto;
                margin-right: auto;
                left: -20px;
                right: 0;
                max-width: 400px;
                text-align: center;

                a{
                    border-bottom:1px solid white;
                }
            }

            .share{
                float:right;
                margin-right:25px;
            }
        }
    }

}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 4s;
}